<div class="col-lg-6">
    <section class="p-3">
        <h3>About</h3>
        <h1 class="mt-5">We want to make news reporting straight and fast.</h1>
        <div class="mt-5">
            <h5>ALIAS MEDIA SRL</h5>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sed 
                asperiores labore expedita pariatur, quam quod numquam ut quae culpa 
                consectetur perspiciatis beatae nemo eveniet autem dolor excepturi. Cumque, 
                perferendis!
            </p>
        </div>
    </section>
</div>