<section id="main" class="container-fluid">
  <div class="row h-100">
    <div class="col-lg-2 col-md-12">
      <div class="brand p-3" routerLink="">
        <div class="img--wrap">
          <img class="w-100" src="../assets/img/full.png" alt="">
        </div>
      </div>
      <ul class="nav-links d-none-on-mobile">
        <li class="nav-link"><a href="" routerLink="about">About Alias <i class="ri-building-4-line link--tooltip"></i></a></li>
        <li class="nav-link"><a href="" routerLink="contact">Contact <i class="ri-mail-send-line link--tooltip"></i></a></li>
        <li class="nav-link"><a routerLink="new">New Post <i class="ri-add-circle-line link--tooltip"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-10 col-md-12 scrollable">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
